* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 9%;
    background: #ffffff7c;
    display: flex;
    filter: drop-shadow(0 0 0.75rem #000);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo {
    height: 5vw;
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav a:hover,
nav a.active {
    color:crimson;
    border-bottom: crimson 2px solid;
    transform: translateY(0.1rem);
}

nav a {
    font-size: 1.2rem;
    color: #000;
    margin-left: 2rem;
    text-decoration: none;
}